/*--------------------------------------------------------------
>>> HISTORY MANAGER
----------------------------------------------------------------
# Fonts
# Header
    # Search field
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# FONTS
--------------------------------------------------------------*/

@font-face {
    font-family: 'Open Sans';
    font-weight: 300;
    src: url(fonts/OpenSans-Light.ttf);
}

@font-face {
    font-family: 'Open Sans';
    src: url(fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 600;
    src: url(fonts/OpenSans-SemiBold.ttf);
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 700;
    src: url(fonts/OpenSans-Bold.ttf);
}


/*--------------------------------------------------------------
# BODY
--------------------------------------------------------------*/

body {
    background: var(--satus-theme-background-0);
    overflow: hidden;
}

body[data-dark-theme='true'] {
    color: #888;
    background: #000;
}

body[data-dark-theme='true'] .satus-sidebar .satus-button:not(.satus-button--active),
body[data-dark-theme='true'] .satus-button--more {
    color: #aaa;
}

body[data-privacy-mode='true'] a,
body[data-privacy-mode='true'] .favicon {
    filter: blur(8px);
}


/*--------------------------------------------------------------
# HEADER
--------------------------------------------------------------*/

.satus-header {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    border-bottom: 2px solid var(--satus-theme-border-0);
    background: var(--satus-theme-background-0);
}


/*--------------------------------------------------------------
# SECTION
--------------------------------------------------------------*/

.satus-header>.satus-section {
    flex: 1;
}

.satus-section--search {
    position: relative;
}


/*--------------------------------------------------------------
# SEARCH
--------------------------------------------------------------*/

.satus-input[type='text'].search-field {
    padding-left: 48px;
    border: none;
    border-radius: 20px;
    background: var(--satus-theme-background-2);
}

.satus-button--search-options {
    position: absolute;
    top: 10px;
    left: 16px;
    width: 20px;
    height: 20px;
    padding: 0;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.satus-modal--search-engine {
    backdrop-filter: none;
}

.satus-modal--search-engine .satus-modal__container {
    position: absolute;
    width: auto;
    margin: 0;
    transform-origin: left top;
}

.search-results {
    font-size: 16px;
    position: absolute;
    z-index: 1;
    top: 100%;
    display: none;
    overflow: auto;
    width: 100%;
    max-height: 80vh;
    border-radius: 4px;
    background: var(--satus-theme-background-1);
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, .2);
}

.search-results:hover {
    display: block;
}

.search-results>div {
    overflow: hidden;
    padding: 6px 16px 6px 48px;
    cursor: default;
    white-space: nowrap;
    text-overflow: ellipsis;
    hyphens: auto;
    background-repeat: no-repeat;
    background-position: 16px 4px;
    background-size: 16px;
    overflow-wrap: break-word;
}

.search-results>div:hover {
    background-color: #efefef;
}

.search-results>.selected {
    background-color: #e0e0e0;
}


/*--------------------------------------------------------------
# MORE
--------------------------------------------------------------*/

.satus-button--more {
    width: 32px;
    height: 32px;
    padding: 4px;
    color: #4d5e80;
    border: none;
    border-radius: 8px;
    background: transparent;
}


/*--------------------------------------------------------------
# SIDEBAR
--------------------------------------------------------------*/

.satus-sidebar {
    position: fixed;
    z-index: 1;
    top: 64px;
    left: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 64px;
    height: calc(100vh - 96px);
    padding: 16px;
    border-right: 2px solid var(--satus-theme-border-0);
    background: var(--satus-theme-background-0);
    justify-content: center;
}

.satus-sidebar .satus-button {
    width: 32px;
    height: 32px;
    margin: 0 0 16px 0;
    color: #c3cad9;
    border: none;
    border-radius: 8px;
    background: transparent;
}

.satus-sidebar .satus-button.satus-button--active {
    color: #ef9a9a;
}


/*--------------------------------------------------------------
# MAIN
--------------------------------------------------------------*/

.satus-main {
    box-sizing: border-box;
    width: 100%;
    margin: 0 0 32px;
    padding: 64px 0 0 64px;
}

.satus-main--status {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: 700;
    opacity: .5;
    position: fixed;
    left: 0;
    top: 0;
}

.satus-grid {
    box-sizing: border-box;
    padding: 8px;
}

.satus-grid__item {
    overflow: auto;
    max-height: calc(100vh - 128px);
    margin: 8px;
    border-radius: 8px;
    background: var(--satus-theme-background-1);
    box-shadow: 0 1px 4px rgb(0, 0, 0, .05);
}

.satus-grid--charts,
.satus-grid--data {
    flex-wrap: wrap;
}

.satus-grid--charts .satus-grid__item,
.satus-grid--data .satus-grid__item {
    overflow: unset;
    flex-direction: column;
}

.satus-grid--data .satus-grid__item {
    overflow: auto;
}

.satus-grid--charts .satus-grid__item>.satus-h1,
.satus-grid--data .satus-grid__item>.satus-h1 {
    font-size: 20px;
    font-weight: 600;
    margin: 16px 16px 8px;
}

.satus-grid--charts .satus-grid__item .satus-vertical-bars {
    background: var(--satus-theme-background-1);
    box-shadow: 0 3px 2px #e6eff7;
}


/*--------------------------------------------------------------
# TABLES
--------------------------------------------------------------*/

.satus-table__head {
    border-bottom: 2px solid var(--satus-theme-border-0);
    box-shadow: none;
}

.satus-table__footer {
    border-top: 2px solid var(--satus-theme-border-0);
    box-shadow: none;
}

.satus-modal--more {
    justify-content: flex-end;
    align-items: flex-start;
}

.satus-modal--more .satus-modal__container {
    width: 280px;
    transform-origin: right top;
}

.favicon {
    float: left;
    width: 24px;
    height: 24px;
    margin: 0 8px 0 0;
}

.satus-table .satus-input {
    height: 100%;
    padding: 0 8px;
    border: none;
    border-radius: 2px;
}

.satus-table a {
    text-decoration: none;
    color: #0075ff;
}

.satus-button--tree {
    width: 24px;
    height: 24px;
}

.satus-table--categories .favicon {
    opacity: .8;
    background-image: url(icons-black.png);
    background-repeat: no-repeat;
}

body[data-dark-theme='true'] .satus-table--categories .favicon {
    background-image: url(icons-white.png);
}

.satus-table--categories .satus-table__head>*:first-child,
.satus-table--categories .satus-table__body .satus-table__row>*:first-child,
.satus-table--domains .satus-table__head>*:first-child,
.satus-table--domains .satus-table__body .satus-table__row>*:first-child,
.satus-table--pages .satus-table__head>*:first-child,
.satus-table--pages .satus-table__body .satus-table__row>*:first-child,
.satus-table--params .satus-table__head>*:first-child,
.satus-table--params .satus-table__body .satus-table__row>*:first-child {
    min-width: 64px;
    max-width: 64px;
    flex: 0;
}

.satus-table--categories .satus-table__head>*:nth-child(2),
.satus-table--categories .satus-table__body .satus-table__row>*:nth-child(2),
.satus-table--domains .satus-table__head>*:nth-child(2),
.satus-table--domains .satus-table__body .satus-table__row>*:nth-child(2),
.satus-table--pages .satus-table__head>*:nth-child(3),
.satus-table--pages .satus-table__body .satus-table__row>*:nth-child(3),
.satus-table--params .satus-table__head>*:nth-child(2),
.satus-table--params .satus-table__body .satus-table__row>*:nth-child(2) {
    min-width: 24px;
    max-width: 24px;
    flex: 0;
}

.satus-table--recently-closed .satus-table__head>*:first-child,
.satus-table--recently-closed .satus-table__body .satus-table__row>*:first-child {
    min-width: 96px;
    max-width: 96px;
    flex: 0;
}


/*--------------------------------------------------------------
# SCROLLBAR
--------------------------------------------------------------*/

body[data-dark-theme='true'] ::-webkit-scrollbar {
    background-color: rgba(255, 255, 255, .025);
}

body[data-dark-theme='true'] ::-webkit-scrollbar-button:single-button {
    display: block;
    background-repeat: no-repeat;
}

body[data-dark-theme='true'] ::-webkit-scrollbar-button:single-button:hover {
    background-color: var(--satus-theme-background-1);
}

body[data-dark-theme='true'] ::-webkit-scrollbar-button:single-button:vertical {
    background-size: 7px 4px;
}

body[data-dark-theme='true'] ::-webkit-scrollbar-button:single-button:horizontal {
    background-size: 4px 7px;
}

body[data-dark-theme='true'] ::-webkit-scrollbar-button:single-button:vertical:decrement {
    width: 16px;
    height: 15px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="7" height="4" fill="rgb(125, 125, 125)"><polygon points="3.5,0 0,4 7,4"/></svg>');
    background-position: 4px 6px;
}

body[data-dark-theme='true'] ::-webkit-scrollbar-button:single-button:vertical:increment {
    width: 16px;
    height: 15px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="7" height="4" fill="rgb(125, 125, 125)"><polygon points="0,0 7,0 3.5,4"/></svg>');
    background-position: 4px 5px;
}

body[data-dark-theme='true'] ::-webkit-scrollbar-button:single-button:horizontal:decrement {
    width: 15px;
    height: 16px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="4" height="7" fill="rgb(125, 125, 125)"><polygon points="0,3.5 4,0 4,7"/></svg>');
    background-position: 5px 4px;
}

body[data-dark-theme='true'] ::-webkit-scrollbar-button:single-button:horizontal:increment {
    width: 15px;
    height: 16px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="4" height="7" fill="rgb(125, 125, 125)"><polygon points="0,0 0,7 4,3.5"/></svg>');
    background-position: 6px 4px;
}

body[data-dark-theme='true'] ::-webkit-scrollbar-thumb {
    border-right: 2px solid var(--satus-theme-background-1);
    border-left: 2px solid var(--satus-theme-background-1);
    background-color: rgba(255, 255, 255, .2);
}

body[data-dark-theme='true'] ::-webkit-scrollbar-thumb:hover {
    border-right: 2px solid var(--satus-theme-background-2);
    border-left: 2px solid var(--satus-theme-background-2);
    background-color: rgba(255, 255, 255, .3);
}

body[data-dark-theme='true'] ::-webkit-scrollbar-thumb:active {
    border-right: 2px solid var(--satus-theme-background-2);
    border-left: 2px solid var(--satus-theme-background-2);
    background-color: rgba(255, 255, 255, .3);
}

body[data-dark-theme='true'] ::-webkit-scrollbar-corner {
    background-color: rgba(255, 255, 255, .2);
}


/*--------------------------------------------------------------
# TAB MANAGER
--------------------------------------------------------------*/

.satus-tab-manager {
    width: 100%;
    height: 100%;
}

.satus-h1--title {
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    margin: 0;
    padding: 10px 16px;
    border-bottom: 2px solid var(--satus-theme-border-0);
}

.tab-manager__window {
    height: auto;
}

.tab-manager__window.collapsed {
    overflow: hidden;
    height: 32px;
}

.tab-manager__window-button {
    width: 100%;
    height: 32px;
    padding: 0 16px;
    text-align: left;
    border: none;
    background: rgba(0, 0, 0, .05);
    box-shadow: 0 1px 4px 1px rgba(0, 0, 0, .2);
}

.tab-manager__window-button::before {
    position: relative;
    top: -3px;
    left: 2px;
    display: inline-block;
    width: 0;
    height: 0;
    margin: 0 8px 0 0;
    content: '';
    border: 4px solid transparent;
    border-left-color: currentColor;
}

.tab-manager__window:not(.collapsed) .tab-manager__window-button::before {
    top: 0;
    left: 0;
    transform: rotate(90deg);
}

.tab-manager__item {
    display: inline-flex;
    width: calc(100% - 32px);
    height: 32px;
    padding: 0 8px;
    align-items: center;
}

.tab-manager__item.selected--before {
    border-top: 32px solid rgba(0, 0, 0, .1);
}

.tab-manager__item.selected--after {
    border-bottom: 32px solid rgba(0, 0, 0, .1);
}

.satus-tab-manager__ghost {
    width: 100%;
    height: 32px;
    background: rgba(0, 0, 0, .1);
}

.tab-manager__item.active {
    position: absolute;
    z-index: 99999;
    width: auto;
    pointer-events: none;
    background: var(--satus-theme-background-1);
    box-shadow: 0 4px 8px 2px rgba(0, 0, 0, .2);
}

.tab-manager__item .satus-button--pin {
    width: 24px;
    height: 24px;
    margin: 0 8px 0 0;
    opacity: .25;
    background-image: url(icons-black.png);
    background-repeat: no-repeat;
    background-position: -74px -120px;
}

.tab-manager__item[data-pinned='true'] .satus-button--pin {
    opacity: 1;
}

body[data-dark-theme='true'] .tab-manager__item .satus-button--pin {
    background-image: url(icons-white.png);
}

.tab-manager__item a {
    overflow: hidden;
    white-space: nowrap;
    text-decoration: none;
    text-overflow: ellipsis;
    color: #0075ff;
    align-items: center;
    flex: 1;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 16px;
    padding: 0 24px;
}


/*--------------------------------------------------------------
# TREE
--------------------------------------------------------------*/

.satus-tree {
    margin: 16px;
    padding: 16px;
    border-left: 2px solid currentColor;
}

.satus-tree--item {
    position: relative;
    list-style: none;
}

.satus-tree--item::before {
    position: absolute;
    top: 10px;
    left: -18px;
    width: 14px;
    height: 2px;
    content: '';
    background: currentColor;
}

.satus-tree--item > .satus-button {
    border: none;
    background: transparent;
    box-shadow: none;
}

.satus-button--object::before {
    display: inline-block;
    width: 0;
    height: 0;
    margin: 0 4px 0 0;
    content: '';
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 7px solid currentColor;
}

.satus-tree--item>.satus-button:not(.satus-button--object)::before {
    display: inline-block;
    width: 3px;
    height: 3px;
    margin: 0 4px 0 0;
    content: '';
    border: 2px solid currentColor;
    border-radius: 50%;
}

.satus-button--object.active::before {
    transform: rotate(90deg);
}


/*--------------------------------------------------------------
# FOOTER
--------------------------------------------------------------*/

.satus-footer {
    font-size: 14px;
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 32px;
    padding: 0 8px;
    border-top: 2px solid var(--satus-theme-border-0);
    background: var(--satus-theme-background-0);
    align-items: center;
    justify-content: flex-end;
}

.satus-footer .satus-span {
    margin: 0 8px;
}

.satus-div--bookmarks ul {
    border-left: none;
}

.satus-div--bookmarks li {
    margin: 0 0 8px;
}

.satus-div--bookmarks li::before {
    content: none;
}

.satus-div--bookmarks img {
    margin: 0 8px 0 0;
}

.satus-div--bookmarks a {
    text-decoration: none;
    color: #0075ff;
}