/*--------------------------------------------------------------
>>> SATUS
----------------------------------------------------------------
# Themes
    # Light
    # Dark

# Components
    # Header
    # Button

# Animations
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# THEMES
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# LIGHT
--------------------------------------------------------------*/

body {
    --satus-theme-background-0: #f7f8fa;
    --satus-theme-background-1: #fff;
    --satus-theme-background-2: #fff;
    --satus-theme-background-3: #fafafa;
    --satus-theme-border-0: #edeff2;
}


/*--------------------------------------------------------------
# DARK
--------------------------------------------------------------*/

body[data-dark-theme='true'] {
    --satus-theme-background-0: #000;
    --satus-theme-background-1: #1a1a1a;
    --satus-theme-background-2: #262626;
    --satus-theme-background-3: #343434;
    --satus-theme-border-0: #222;
}


/*--------------------------------------------------------------
# COMPONENTS
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# MENU
--------------------------------------------------------------*/

.satus-menu {
    margin: 0;
    padding: 8px 0;
}

.satus-menu__item {
    list-style: none;
}

.satus-menu__item:hover {
    background-color: rgba(0, 0, 0, .05);
}

.satus-menu>.satus-menu__item>* {
    box-sizing: border-box;
    width: 100%;
    height: 36px;
    padding: 0 16px !important;
}


/*--------------------------------------------------------------
# HEADER
--------------------------------------------------------------*/

.satus-header {
    display: flex;
    height: 64px;
    padding: 0 16px;
    align-items: center;
    justify-content: center;
    /*color: #fff;
    background: #304ffe;
    box-shadow: 0 3px 2px rgb(1, 20, 127, .25);*/
}


/*--------------------------------------------------------------
# SECTION
--------------------------------------------------------------*/

.satus-section {
    display: flex;
}

.satus-section--flex-start {
    justify-content: flex-start;
}

.satus-section--flex-end {
    justify-content: flex-end;
}


/*--------------------------------------------------------------
# BUTTON
--------------------------------------------------------------*/

.satus-button {
    font: inherit;
    box-sizing: border-box;
    padding: 0;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: inherit;
    border: 1px solid rgba(0, 0, 0, .1);
    background: var(--satus-theme-background-1);
    appearance: none;
}

.satus-button:hover {
    border-color: rgba(0, 0, 0, .2);
}

.satus-button:focus {
    border-color: #86b7fe;
    outline: none;
    box-shadow: 0 0 0 4px rgb(13, 110, 253, .25);
}


/*--------------------------------------------------------------
# SELECT
--------------------------------------------------------------*/

.satus-select {
    font: inherit;
    box-sizing: border-box;
    padding: 8px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: inherit;
    border: none;
    background: rgba(0, 0, 0, .1);
    appearance: none;
}

.satus-select:hover {
    border-color: rgba(0, 0, 0, .2);
}

.satus-select:focus {
    border-color: #86b7fe;
    outline: none;
    box-shadow: 0 0 0 4px rgb(13, 110, 253, .25);
}


/*--------------------------------------------------------------
# SWITCH
--------------------------------------------------------------*/

.satus-switch {
    font: inherit;
    display: flex;
    box-sizing: border-box;
    padding: 0;
    color: inherit;
    border: none;
    background: transparent;
    appearance: none;
    justify-content: space-between;
    align-items: center;
}

.satus-switch:focus {
    outline: none;
}

.satus-switch__track {
    width: 32px;
    min-width: 32px;
    height: 18px;
    border-radius: 18px;
    background: #bdbdbd;
}

.satus-switch[data-value='true'] .satus-switch__track {
    background: #54d2a3;
}

.satus-switch__track::before {
    display: block;
    width: 14px;
    height: 14px;
    content: '';
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, transform .1s cubic-bezier(.4, 0, .2, 1);
    transform: translate(2px, 2px);
    border-radius: 50%;
    background-color: #fff;
    will-change: transform;
}

.satus-switch[data-value='true'] .satus-switch__track::before {
    transform: translate(16px, 2px);
}

.satus-switch:focus .satus-switch__track::before {
    border-color: #86b7fe;
    outline: none;
    box-shadow: 0 0 0 8px rgb(13, 110, 253, .25);
}


/*--------------------------------------------------------------
# INPUT TEXT
--------------------------------------------------------------*/

.satus-input[type='text'] {
    font: inherit;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    padding: 8px 16px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: inherit;
    border: 1px solid rgba(0, 0, 0, .1);
    background: var(--satus-theme-background-3);
    appearance: none;
}

.satus-input[type='text']:hover {
    border-color: rgba(0, 0, 0, .2);
}

.satus-input[type='text']:focus {
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 4px rgb(13, 110, 253, .25);
}


/*--------------------------------------------------------------
# MODAL
--------------------------------------------------------------*/

.satus-modal {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    animation: fadeIn 150ms linear forwards;
    background: rgba(25, 25, 25, .2);
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(8px);
}

.satus-modal__container {
    width: 100%;
    max-width: 640px;
    max-height: 75vh;
    margin: 16px;
    animation: zoomIn 150ms linear forwards;
    animation-delay: 20ms;
    border-radius: 4px;
    background: var(--satus-theme-background-2);
    box-shadow: inset 0 -1px 1px 1px rgb(0, 0, 0, .1), 0 2px 6px rgb(0, 0, 0, .15);
}


/*--------------------------------------------------------------
# GRID
--------------------------------------------------------------*/

.satus-grid {
    display: flex;
}

.satus-grid__column {
    position: relative;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    flex: 1;
}

.satus-grid__item {
    position: relative;
    display: flex;
    overflow: hidden;
    flex: 1;
}

.satus-grid-item__left {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 25%;
    height: 100%;
}

.satus-grid-item__center {
    position: absolute;
    top: 0;
    left: 25%;
    display: none;
    width: 50%;
    height: 100%;
}

.satus-grid-item__right {
    position: absolute;
    top: 0;
    left: 75%;
    display: none;
    width: 25%;
    height: 100%;
}

.satus-grid--drag .satus-grid-item__left,
.satus-grid--drag .satus-grid-item__center,
.satus-grid--drag .satus-grid-item__right {
    display: block;
}

.satus-grid__item--drag>*:not(.satus-grid-item__left):not(.satus-grid-item__center):not(.satus-grid-item__right) {
    display: none;
}

.satus-grid[data-edit='true'] *:not(.satus-grid):not(.satus-grid__item):not(.satus-grid-item__left):not(.satus-grid-item__center):not(.satus-grid-item__right) {
    overflow: hidden;
    pointer-events: none;
    opacity: .7;
}

.satus-grid__item[data-drag-over='left']>.satus-grid-item__left {
    background: #e1bee7;
}

.satus-grid__item[data-drag-over='right']>.satus-grid-item__right {
    background: #e1bee7;
}


/*--------------------------------------------------------------
>>> TABLE
----------------------------------------------------------------
# Head
# Body
# Footer
--------------------------------------------------------------*/

.satus-table {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}


/*--------------------------------------------------------------
# HEAD
--------------------------------------------------------------*/

.satus-table__head {
    position: relative;
    display: flex;
    background: var(--satus-theme-background-1);
    box-shadow: 0 2px 2px #e6eff7;
}

.satus-table__head>* {
    font: inherit;
    font-weight: 600;
    display: flex;
    overflow: hidden;
    margin: 8px;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: inherit;
    border: none;
    background: transparent;
    flex: 1;
    align-items: center;
}

.satus-table__head>*[data-order=asc]::after {
    position: relative;
    top: -3px;
    display: inline-block;
    width: 0;
    height: 0;
    margin: 0 0 0 6px;
    content: '';
    border: 4px solid transparent;
    border-bottom-color: currentColor;
}

.satus-table__head>*[data-order=desc]::after {
    position: relative;
    top: 1px;
    display: inline-block;
    width: 0;
    height: 0;
    margin: 0 0 0 6px;
    content: '';
    border: 4px solid transparent;
    border-top-color: currentColor;
}

.satus-table__head>*>button {
    font: inherit;
    display: none;
    margin: 0 0 0 8px;
    padding: 0;
    color: inherit;
    border: none;
    outline: none;
    background: transparent;
}

.satus-table__head>*:hover>button,
.satus-table__head>*>button:focus {
    display: block;
}

.satus-table__head button svg {
    width: 16px;
    fill: none;
    stroke: currentColor;
}

.satus-table__head>*>button+div {
    position: absolute;
    display: none;
    width: 128px;
    height: 64px;
    background: #000;
}

.satus-table__head>*>button:focus+div {
    display: block;
}


/*--------------------------------------------------------------
# BODY
--------------------------------------------------------------*/

.satus-table__body {
    overflow: auto;
    flex: 1;
}

.satus-table__row {
    display: flex;
}

.satus-table__row.selected {
    color: #222;
    background: #fff59d;
}

.satus-table__row.selection {
    color: #222;
    background: #ffeb3b;
}

.satus-table__row>div {
    overflow: hidden;
    margin: 8px;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex: 1;
}


/*--------------------------------------------------------------
# FOOTER
--------------------------------------------------------------*/

.satus-table__footer {
    position: relative;
    display: flex;
    flex-direction: column;
    background: var(--satus-theme-background-1);
    box-shadow: 0 -2px 2px #e6eff7;
}


/*--------------------------------------------------------------
# PAGINATION
--------------------------------------------------------------*/

.satus-table__pagination {
    display: flex;
}

.satus-table__pagination>button {
    font: inherit;
    min-width: 32px;
    max-width: unset;
    height: 32px;
    min-height: unset;
    max-height: unset;
    padding: 0;
    cursor: pointer;
    opacity: .5;
    color: inherit;
    border: none;
    outline: none;
    background: transparent;
    appearance: none;
}

.satus-table__pagination>button:hover {
    opacity: 1;
}

.satus-table__pagination>button.selected {
    font-weight: 700;
    opacity: 1;
}

.satus-table__pagination>span {
    display: flex;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
}

.satus-table__selection>button {
    font: inherit;
    margin: 8px;
    padding: 8px;
    color: inherit;
    border: 1px solid #d2d6dc;
    border-radius: 3px;
    background: transparent;
}


/*--------------------------------------------------------------
# CHARTS
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# VERTICAL BARS
--------------------------------------------------------------*/

.satus-vertical-bars {
    display: flex;
    box-sizing: border-box;
    min-height: 320px;
    padding: 16px;
}

.satus-vertical-bars__column {
    margin: 2px;
    flex: 1;
    overflow: hidden;
    text-align: center;
}

.satus-vertical-bars__bar {
    display: flex;
    align-items: flex-end;
    height: calc(100% - 20px);
}

.satus-vertical-bars__value {
    width: 100%;
    background: #ef9a9a;
    box-shadow: inset -5px -2px 1px rgb(0, 0, 0, .1), 2px 1px 2px rgb(0, 0, 0, .1);
}

.satus-vertical-bars__label {
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 4px 0 0;
}


/*--------------------------------------------------------------
# ANIMATIONS
--------------------------------------------------------------*/

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes zoomIn {
    from {
        transform: scale(.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes zoomOut {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(.8);
        opacity: 0;
    }
}
