/*--------------------------------------------------------------
>>> TABLE
----------------------------------------------------------------
# Head
# Body
# Footer
--------------------------------------------------------------*/

.table {
    display: flex;
    flex-direction: column;
    height: 100%;
}


/*--------------------------------------------------------------
# HEAD
--------------------------------------------------------------*/

.table__head {
    position: relative;
    display: flex;
    background: #333;
    box-shadow: 0 1px 3px 2px rgb(0, 0, 0, .2);
}

.table__head>div {
    font-weight: 700;
    overflow: hidden;
    margin: 8px;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex: 1;
}


/*--------------------------------------------------------------
# BODY
--------------------------------------------------------------*/

.table__body {
    flex: 1;
    overflow: auto;
}

.table__body>div {
    display: flex;
}

.table__body>div>div {
    overflow: hidden;
    margin: 8px;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex: 1;
}


/*--------------------------------------------------------------
# FOOTER
--------------------------------------------------------------*/

.table__footer {
    position: relative;
    display: flex;
    flex-direction: column;
    background: #333;
    box-shadow: 0 -1px 3px 2px rgb(0, 0, 0, .2);
}


/*--------------------------------------------------------------
# PAGINATION
--------------------------------------------------------------*/

.table__pagination {
    display: flex;
}

.table__pagination > button
{
    font: inherit;

    min-width: 32px;
    max-width: unset;
    min-height: unset;
    max-height: unset;
    height: 32px;
    padding: 0;

    cursor: pointer;

    opacity: .5;
    color: inherit;
    border: none;
    outline: none;
    background: transparent;

    appearance: none;
}

.table__pagination > button:hover
{
    opacity: 1;
}

.table__pagination > button.selected
{
    font-weight: 700;

    opacity: 1;
}

.table__pagination > span
{
    display: flex;

    width: 32px;
    height: 32px;

    align-items: center;
    justify-content: center;
}