/*--------------------------------------------------------------
>>> STYLES
----------------------------------------------------------------
# Fonts
# Body
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# FONTS
--------------------------------------------------------------*/

@font-face {
	font-family: Roboto;
	src: url(../assets/fonts/Roboto-Regular.ttf);
}


/*--------------------------------------------------------------
# BODY
--------------------------------------------------------------*/

body {
	font-family: Roboto, sans-serif;
	overflow: hidden;
	height: 100vh;
	margin: 0;
}