/*--------------------------------------------------------------
>>> STYLES
----------------------------------------------------------------
# Fonts
# Body
# Themes
# Skeleton
    # Header
    # Main
        # Sidebar
        # Layers
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# FONTS
--------------------------------------------------------------*/

@font-face {
    font-family: Roboto;

    src: url(../assets/fonts/Roboto-Regular.ttf);
}


/*--------------------------------------------------------------
# BODY
--------------------------------------------------------------*/

body {
    font-family: Roboto, sans-serif;
    font-size: 16px;

    overflow: hidden;

    height: 100vh;
    margin: 0;
}


/*--------------------------------------------------------------
# THEMES
--------------------------------------------------------------*/

.satus-base {
    --satus-base-background: #fff;
    --satus-main-background: #fff;
}


/*--------------------------------------------------------------
# SKELETON
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# HEADER
--------------------------------------------------------------*/

.satus-header {
    box-shadow: none;
}

.satus-header>* {
    flex: 1;
}

.satus-header .satus-text-field {
    position: relative;
}

.satus-header .satus-text-field[focus][results] {
    border-bottom-color: transparent;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.satus-header .satus-text-field>svg {
    box-sizing: unset;
    max-width: 22px;
    max-height: 22px;
    margin: 0 0 0 8px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    justify-content: center;
    align-items: center;
}

.temporary-engine {
    height: 28px;
    margin: 0 0 0 6px;
    padding: 0 8px;

    border-radius: 4px;
    background: var(--satus-header-background);
}

.temporary-engine::after {
    line-height: 0;

    position: relative;
    top: 1px;

    margin-left: 8px;

    content: '✕';

    opacity: .4;
}

.temporary-engine:hover::after {
    opacity: .85;
}

.satus-search__dropdown-menu {
    position: absolute;
    top: 100%;
    left: -1px;

    display: none;
    flex-direction: column;

    width: calc(100% + 2px);
    padding: 1px 8px 0;

    border: 1px solid var(--satus-text-field-border);
    border-top: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background: var(--satus-text-field-background);
}

.satus-header .satus-text-field[focus][results] .satus-search__dropdown-menu {
    display: flex;
}

.satus-search__results-list {
    display: flex;

    padding: 8px 0;

    border-top: 1px solid var(--satus-text-field-border);

    align-items: center;
}

.satus-search-results__item {
    width: 100%;
    padding: 6px 4px;

    border-radius: 4px;
}

.satus-search-results__item {
    transition: background-color .3s cubic-bezier(.25, .8, .5, 1);
}

.satus-search-results__item:hover {
    background-color: rgba(var(--satus-light), .08);
}

.satus-search-results__item:focus {
    background-color: rgba(var(--satus-light), .24);
}

.satus-search-results__item-icon {
    width: 18px;
    height: 18px;
    margin-right: 8px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    flex: 0 0 18px;
}

.satus-search-results__item-query {
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
}

.satus-search-results__item-engine {
    padding-left: .3em;

    white-space: nowrap;

    opacity: .64;
}

.satus-search-engines {
    display: flex;

    padding: 8px 0;

    border-top: 1px solid var(--satus-text-field-border);

    align-items: center;
}

.satus-search-engines>button {
    width: 28px;
    height: 28px;
    margin: 0 0 0 8px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px;
}


/*--------------------------------------------------------------
# MAIN
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# SIDEBAR
--------------------------------------------------------------*/

.satus-sidebar {
    box-shadow: none;
}


/*--------------------------------------------------------------
# LAYERS
--------------------------------------------------------------*/

.satus-layers {
    border: 1px solid var(--satus-header-shadow);
    border-right: none;
    border-bottom: none;
}